# Imports

In [1]:
import pyreadr
import pandas as pd

## Convert data files to csv

### Decathlon

In [2]:
# Load RData file
rdata = pyreadr.read_r("data/decathlon.RData")
rdata

OrderedDict([('X',
                            100m  Long.jump  Shot.put  High.jump   400m  110m.hurdle  \
              rownames
              SEBRLE       11.04       7.58     14.83       2.07  49.81        14.69
              CLAY         10.76       7.40     14.26       1.86  49.37        14.05
              KARPOV       11.02       7.30     14.77       2.04  48.37        14.09
              BERNARD      11.02       7.23     14.25       1.92  48.93        14.99
              YURKOV       11.34       7.09     15.19       2.10  50.42        15.31
              WARNERS      11.11       7.60     14.31       1.98  48.68        14.23
              ZSIVOCZKY    11.13       7.30     13.48       2.01  48.62        14.17
              McMULLEN     10.83       7.31     13.76       2.13  49.91        14.38
              MARTINEAU    11.64       6.81     14.57       1.95  50.14        14.93
              HERNU        11.37       7.56     14.41       1.86  51.10        15.06
              BARRAS       11.33       6.97     14.09       1.95  49.48        14.48
              NOOL         11.33       7.27     12.68       1.98  49.20        15.29
              BOURGUIGNON  11.36       6.80     13.46       1.86  51.16        15.67
              Sebrle       10.85       7.84     16.36       2.12  48.36        14.05
              Clay         10.44       7.96     15.23       2.06  49.19        14.13
              Karpov       10.50       7.81     15.93       2.09  46.81        13.97
              Macey        10.89       7.47     15.73       2.15  48.97        14.56
              Warners      10.62       7.74     14.48       1.97  47.97        14.01
              Zsivoczky    10.91       7.14     15.31       2.12  49.40        14.95
              Hernu        10.97       7.19     14.65       2.03  48.73        14.25
              Nool         10.80       7.53     14.26       1.88  48.81        14.80
              Bernard      10.69       7.48     14.80       2.12  49.13        14.17
              Schwarzl     10.98       7.49     14.01       1.94  49.76        14.25
              Pogorelov    10.95       7.31     15.10       2.06  50.79        14.21
              Schoenbeck   10.90       7.30     14.77       1.88  50.30        14.34
              Barras       11.14       6.99     14.91       1.94  49.41        14.37
              Smith        10.85       6.81     15.24       1.91  49.27        14.01
              Averyanov    10.55       7.34     14.44       1.94  49.72        14.39
              Ojaniemi     10.68       7.50     14.97       1.94  49.12        15.01
              Smirnov      10.89       7.07     13.88       1.94  49.11        14.77
              Qi           11.06       7.34     13.55       1.97  49.65        14.78
              Drews        10.87       7.38     13.07       1.88  48.51        14.01
              Parkhomenko  11.14       6.61     15.69       2.03  51.04        14.88
              Terek        10.92       6.94     15.15       1.94  49.56        15.12
              Gomez        11.08       7.26     14.57       1.85  48.61        14.41
              Turi         11.08       6.91     13.62       2.03  51.67        14.26
              Lorenzo      11.10       7.03     13.22       1.85  49.34        15.38
              Karlivans    11.33       7.26     13.30       1.97  50.54        14.98
              Korkizoglou  10.86       7.07     14.81       1.94  51.16        14.96
              Uldal        11.23       6.99     13.53       1.85  50.95        15.09
              Casarsa      11.36       6.68     14.92       1.94  53.20        15.39

                           Discus  Pole.vault  Javeline   1500m
              rownames
              SEBRLE        43.75        5.02     63.19  291.70
              CLAY          50.72        4.92     60.15  301.50
              KARPOV        48.95        4.92     50.31  300.20
              BERNARD       40.87        5.32     62.77  280.10
              YURKOV        46.26        4.72     63.44  276.40
              WARNERS       41.10        4.92     51.77  278.10
              ZSIVOCZKY     45.67        4.42     55.37  268.00
              McMULLEN      44.41        4.42     56.37  285.10
              MARTINEAU     47.60        4.92     52.33  262.10
              HERNU         44.99        4.82     57.19  285.10
              BARRAS        42.10        4.72     55.40  282.00
              NOOL          37.92        4.62     57.44  266.60
              BOURGUIGNON   40.49        5.02     54.68  291.70
              Sebrle        48.72        5.00     70.52  280.01
              Clay          50.11        4.90     69.71  282.00
              Karpov        51.65        4.60     55.54  278.11
              Macey         48.34        4.40     58.46  265.42
              Warners       43.73        4.90     55.39  278.05
              Zsivoczky     45.62        4.70     63.45  269.54
              Hernu         44.72        4.80     57.76  264.35
              Nool          42.05        5.40     61.33  276.33
              Bernard       44.75        4.40     55.27  276.31
              Schwarzl      42.43        5.10     56.32  273.56
              Pogorelov     44.60        5.00     53.45  287.63
              Schoenbeck    44.41        5.00     60.89  278.82
              Barras        44.83        4.60     64.55  267.09
              Smith         49.02        4.20     61.52  272.74
              Averyanov     39.88        4.80     54.51  271.02
              Ojaniemi      40.35        4.60     59.26  275.71
              Smirnov       42.47        4.70     60.88  263.31
              Qi            45.13        4.50     60.79  272.63
              Drews         40.11        5.00     51.53  274.21
              Parkhomenko   41.90        4.80     65.82  277.94
              Terek         45.62        5.30     50.62  290.36
              Gomez         40.95        4.40     60.71  269.70
              Turi          39.83        4.80     59.34  290.01
              Lorenzo       40.22        4.50     58.36  263.08
              Karlivans     43.34        4.50     52.92  278.67
              Korkizoglou   46.07        4.70     53.05  317.00
              Uldal         43.01        4.50     60.00  281.70
              Casarsa       48.66        4.40     58.62  296.12  )])

In [3]:
# Access the data frame from the loaded RData file
data_frame = rdata["X"]
data_frame

,100m,Long.jump,Shot.put,High.jump,400m,110m.hurdle,Discus,Pole.vault,Javeline,1500m
rownames,,,,,,,,,,
SEBRLE,11.04,7.58,14.83,2.07,49.81,14.69,43.75,5.02,63.19,291.70
CLAY,10.76,7.40,14.26,1.86,49.37,14.05,50.72,4.92,60.15,301.50
KARPOV,11.02,7.30,14.77,2.04,48.37,14.09,48.95,4.92,50.31,300.20
BERNARD,11.02,7.23,14.25,1.92,48.93,14.99,40.87,5.32,62.77,280.10
YURKOV,11.34,7.09,15.19,2.10,50.42,15.31,46.26,4.72,63.44,276.40
WARNERS,11.11,7.60,14.31,1.98,48.68,14.23,41.10,4.92,51.77,278.10
ZSIVOCZKY,11.13,7.30,13.48,2.01,48.62,14.17,45.67,4.42,55.37,268.00
McMULLEN,10.83,7.31,13.76,2.13,49.91,14.38,44.41,4.42,56.37,285.10
MARTINEAU,11.64,6.81,14.57,1.95,50.14,14.93,47.60,4.92,52.33,262.10
HERNU,11.37,7.56,14.41,1.86,51.10,15.06,44.99,4.82,57.19,285.10
BARRAS,11.33,6.97,14.09,1.95,49.48,14.48,42.10,4.72,55.40,282.00
NOOL,11.33,7.27,12.68,1.98,49.20,15.29,37.92,4.62,57.44,266.60
BOURGUIGNON,11.36,6.80,13.46,1.86,51.16,15.67,40.49,5.02,54.68,291.70
Sebrle,10.85,7.84,16.36,2.12,48.36,14.05,48.72,5.00,70.52,280.01
Clay,10.44,7.96,15.23,2.06,49.19,14.13,50.11,4.90,69.71,282.00
Karpov,10.50,7.81,15.93,2.09,46.81,13.97,51.65,4.60,55.54,278.11
Macey,10.89,7.47,15.73,2.15,48.97,14.56,48.34,4.40,58.46,265.42
Warners,10.62,7.74,14.48,1.97,47.97,14.01,43.73,4.90,55.39,278.05
Zsivoczky,10.91,7.14,15.31,2.12,49.40,14.95,45.62,4.70,63.45,269.54
Hernu,10.97,7.19,14.65,2.03,48.73,14.25,44.72,4.80,57.76,264.35
Nool,10.80,7.53,14.26,1.88,48.81,14.80,42.05,5.40,61.33,276.33
Bernard,10.69,7.48,14.80,2.12,49.13,14.17,44.75,4.40,55.27,276.31
Schwarzl,10.98,7.49,14.01,1.94,49.76,14.25,42.43,5.10,56.32,273.56
Pogorelov,10.95,7.31,15.10,2.06,50.79,14.21,44.60,5.00,53.45,287.63
Schoenbeck,10.90,7.30,14.77,1.88,50.30,14.34,44.41,5.00,60.89,278.82
Barras,11.14,6.99,14.91,1.94,49.41,14.37,44.83,4.60,64.55,267.09
Smith,10.85,6.81,15.24,1.91,49.27,14.01,49.02,4.20,61.52,272.74
Averyanov,10.55,7.34,14.44,1.94,49.72,14.39,39.88,4.80,54.51,271.02
Ojaniemi,10.68,7.50,14.97,1.94,49.12,15.01,40.35,4.60,59.26,275.71
Smirnov,10.89,7.07,13.88,1.94,49.11,14.77,42.47,4.70,60.88,263.31
Qi,11.06,7.34,13.55,1.97,49.65,14.78,45.13,4.50,60.79,272.63
Drews,10.87,7.38,13.07,1.88,48.51,14.01,40.11,5.00,51.53,274.21
Parkhomenko,11.14,6.61,15.69,2.03,51.04,14.88,41.90,4.80,65.82,277.94
Terek,10.92,6.94,15.15,1.94,49.56,15.12,45.62,5.30,50.62,290.36
Gomez,11.08,7.26,14.57,1.85,48.61,14.41,40.95,4.40,60.71,269.70
Turi,11.08,6.91,13.62,2.03,51.67,14.26,39.83,4.80,59.34,290.01
Lorenzo,11.10,7.03,13.22,1.85,49.34,15.38,40.22,4.50,58.36,263.08
Karlivans,11.33,7.26,13.30,1.97,50.54,14.98,43.34,4.50,52.92,278.67
Korkizoglou,10.86,7.07,14.81,1.94,51.16,14.96,46.07,4.70,53.05,317.00
Uldal,11.23,6.99,13.53,1.85,50.95,15.09,43.01,4.50,60.00,281.70
Casarsa,11.36,6.68,14.92,1.94,53.20,15.39,48.66,4.40,58.62,296.12

In [4]:
# Convert the data frame to a CSV file
data_frame.to_csv("decathlon.csv", index=True)

### Train and test datafiles

In [5]:
train = {
    f"{letter}": pd.read_csv(
        f"data/train{letter}", delimiter=" ", names=["x1", "x2", "y"]
    )
    for letter in ["A", "B", "C"]
}
train["A"]

           x1         x2  y
0   12.138367   6.455699  1
1   10.622594  11.083096  0
2   11.777052   8.121582  1
3   10.960882  12.226554  0
4   11.296539  10.211002  0
..        ...        ... ..
95  10.188695   6.171622  1
96  11.024072   4.082187  1
97  11.090619  10.954867  0
98   9.840793   4.902898  1
99   9.470945   8.945310  0

[100 rows x 3 columns]

In [6]:
test = {
    f"{letter}": pd.read_csv(
        f"data/test{letter}", delimiter=" ", names=["x1", "x2", "y"]
    )
    for letter in ["A", "B", "C"]
}
test["A"]

           x1         x2  y
0   12.356261   6.053231  1
1   11.842674   4.832690  1
2   12.080976   5.739803  1
3    9.435296   8.878012  0
4   11.023415   6.173500  1
..        ...        ... ..
95  12.132122  10.539799  0
96  10.948403   6.676466  1
97   8.728051   5.950333  1
98   9.376795   9.968496  0
99  10.647086   4.942951  1

[100 rows x 3 columns]

# 1. Classification

## 1.1 Analyse linéaire discriminante

### a- Ecrire l'estimateur du maximum de vraisemblance des paramètres du modèle

$$\begin{align}

L_{(x_i, y_i)_i}(\pi, \mu_0, \mu_1, \Sigma) 
    & = log \hspace{8px} p(x_1,..., x_n, y_1,...y_n | \pi, \mu_0, \mu_1, \Sigma) \\
    & = \sum_{i=1}^n log \hspace{8px} p(x_i, y_i | \pi, \mu_0, \mu_1, \Sigma) \\
    & = \sum_{i=1}^n log \hspace{8px} p(x_i | y_i, \mu_0, \mu_1, \Sigma) * p(y_i | \pi) \\
    & = \sum_{i=1}^n log \hspace{8px} p(x_i | y_i, \mu_0, \mu_1, \Sigma) + \sum_{i=1}^n log \hspace{8px} p(y_i | \pi)
\end{align}$$

On remarque qu'en dérivant par rapport à $\pi$ dans (4), on perdra la somme de gauche.  
De même, en dérivant par rapport à $\mu_0, \mu_1$ ou $\Sigma$, on perdra la somme de droite.  
On va donc calculer $\hat{\pi}_{EMV}$ et $\hat{\mu_0}_{EMV}$, $\hat{\mu_1}_{EMV}$, $\hat{\Sigma}_{EMV}$ à part.

**Commençons par calculer $\hat{\pi}_{EMV}$**   

$$\begin{align}

L_{(y_i)_i}(\pi) & = log \hspace{8px} p(y_1,...y_n | \pi) \\
    & = \sum_{i=1}^n log \hspace{8px} p(y_i | \pi) \\
    & = \sum_{i=1}^n log \hspace{8px} \pi^{y_i} \cdot (1-\pi)^{1-y_i} \\
    & = \sum_{i=1}^n y_i \cdot log(\pi) + (1-y_i) \cdot log(1-\pi) \\ 

\end{align}$$

Dérivons cette quantité par rapport à $\pi$

$$\begin{align}

\nabla_\pi(L_{(y_i)_i}(\pi)) & = \sum_{i=1}^n \frac{y_i}{\pi} - \frac{1}{1-\pi} + \frac{y_i}{1-\pi} \\
    & = - \frac{n}{1-\pi} + \sum_{i=1}^n \frac{y_i}{\pi(1-\pi)}
    
\end{align}$$

Maximiser la vraisemblance revient à maximiser la log-vraisemblance par croissance de la fonction logarithme sur $[0, 1]$, l'ensemble de définition de $\pi$.  
Déterminons la valeur de $\pi$ qui maximise la log-vraisemblance.  

Soit $\pi \in [0, 1] / \nabla_\pi(L_{(y_i)_i}(\pi)) = 0$,
alors on a
$$ \sum_{i=1}^n \frac{y_i}{\pi(1-\pi)} = \frac{n}{1-\pi} $$
i.e.
$$ \pi = \frac{1}{n} \sum_{i=1}^{n} y_i = \bar{y}$$

Donc $\hat{\pi}_{EMV} = \bar{y}$

**A présent, calculons $\hat{\mu_0}, \hat{\mu_1}$ et $\hat{\Sigma}$**

$$\begin{align}

L_{(x_i)_i}(y_i, \mu_0, \mu_1, \Sigma)
    & = log \hspace{8px} p(x_1,...x_n | y_1,...,y_n, \mu_0, \mu_1, \Sigma) \\
    & = \sum_{i=1}^n log \hspace{8px} p(x_i | y_i, \mu_0, \mu_1, \Sigma) \\
    & = \begin{align*}
        \sum_{i=1}^n
            & \mathbb{1}_{y_i = 0} \cdot log \hspace{8px} \frac{1}{\sqrt{2\pi^n|\Sigma|}} \cdot \exp^{-\frac{1}{2} (x_i - \mu_0)^T \Sigma^{-1} (x_i - \mu_0)} \\
            & \mathbb{1}_{y_i = 1} \cdot log \hspace{8px} \frac{1}{\sqrt{2\pi^n|\Sigma|}} \cdot \exp^{-\frac{1}{2} (x_i - \mu_1)^T \Sigma^{-1} (x_i - \mu_1)} \\
        \end{align*}

\end{align}$$

On peut calculer, à partir de cette forme, le gradient de la log vraisemblance par rapport à $\mu_0$.

$$
\nabla_{\mu_0}(L_{(x_i)_i}(y_i, \mu_0, \mu_1, \Sigma))
    = - \sum_{i=1}^{n} \mathbb{1}_{y_i = 0} \cdot \Sigma^{-1} \cdot (x_i - \mu_0)
$$
Et alors, on peut maximiser la log vraisemblance.  
Soit $\mu_0 \in \mathbb{R}^2 / \nabla_{\mu_0}(L_{(x_i)_i}(y_i, \mu_0, \mu_1, \Sigma)) = 0$, on a alors
$$
- \sum_{i=1}^{n} \mathbb{1}_{y_i = 0} \cdot ( \Sigma^{-1} \cdot x_i - \Sigma^{-1} \cdot \mu_0 ) = 0
$$
Introduisons les notations $n_0 = card\{i \in [1;n] / y_i = 0\}$, le nombre d'individus dans la classe 0,  
et $\bar{x_0} = \sum_{i=1}^{n} \mathbb{1}_{y_i = 0} \cdot x_i$, la moyenne des individus de la classe 0.  

On a alors
$$ n_0 \cdot \Sigma^{-1} \mu_0 = \Sigma^{-1} \cdot \sum_{i=1}^{n} \mathbb{1}_{y_i = 0} \cdot x_i
$$
Et donc
$$ \mu_0 = \hat{\mu_0} = \frac{\bar{x_0}}{n_0}
$$